body {
    font-family: 'Montserrat', sans-serif;
    margin: 1% 10% 0 10%;

}

.logo {
    width: 100px;
    height: 59px;
}

.div-header {
    display: flex;
    padding-bottom: 1.5%;
}

.titulo-site {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    color: #004A8D;
    text-shadow: 2px 2px 4px black;

}

.bg-menu {
    background-color: #004A8D;
    border-radius: 5px;

}

.navbar-nav .nav-link {
    color: #f7941d
}

header{
    padding-bottom: 2%;
}